body {
    background-color: #444;
    margin: 0;
    font-family: "Helvetica", Arial, sans-serif;
    color: #fff;
    font-size: 1.5rem;
}

body nav {
    background-color: #666;
    padding: 5px 40px;
}

body nav .logo {
    width: auto;
    height: 90px;
}

body h1 {
    font-size: 3rem;
}

body h2 {
    font-size: 2rem;
}

body .container.container-padding {
    padding: 100px 0;
}

body .container .row.row-padding {
    padding-bottom: 50px;
}